.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card{
  position: relative;
  width: 600px;
  height: 350px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  transition: 0.5s;
}

.card .circle{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
border-radius: 20px;
overflow: hidden;
}

.card .circle::before{
  content: '';
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  clip-path: circle(120px at center);
  transition: 0.5s;
}

.card:hover .circle:before{
  clip-path: circle(400px at center);
  background-color: #0065c3;

}

.card img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 300px;
  pointer-events: none;
  transition: 0.5s;
}
.card:hover img{
  left: 72%;
  height: 500px;
}

.card .content {
  position: relative;
  width: 50%;
  left: 20%;
  padding: 20px 20px 20px 40px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.card:hover .content{
  left: 0;
  opacity: 1;
  visibility: visible;

}

.card .content h2{
  color: aliceblue;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1em;
margin-bottom: 10px;
}

.card .content p{
  color: #fff;
}

.card .content a{
  position: relative;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
}


@media (max-width: 991px) {
  .card{
    width: auto;
    max-width: 350px;
    align-items: flex-start;
    margin: 10px;
  }
  .card:hover{
    height: 600px;
  }

  .card .content{
    width: 100%;
    left: 0;
    padding: 30px;
  }
  .card:hover img{
    top: 65%;
    left: 50%;
    height: 300px;
  }
  p{
    margin-bottom: 16px;
  }
  h2{
    margin-bottom: 20px;
  }
}

@media (max-width: 420px){
  .card .content{
    padding: 20px;
  }
}